---
layout: default
title: emily carlin
---

<section class="blocks">
  <div class="block">
    <h1>Woodworking Process Log</h1>
    <p>Little notes to document and share what I'm learning.</p>
  </div>
  <div class="block">
    <div class="post-list">
      {% for post in site.posts %}
      <a href="{{ post.url }}" class="post-link">
        <article class="post-preview">
          <p class="post-date">{{ post.date | date: "%B %-d, %Y" }}</p>
          <h4 class="post-title">{{ post.title }}</h4>
          {% if post.description %}
          <p class="post-description">{{ post.description }}</p>
          {% endif %}
        </article>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
