<!doctype html>
<html>

<head>
    <title> {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
</head>
<header>
    <div class="header-column-one">
        {% if page.title == "Emily's Blog" or page.title == "work" %}
        <nav>
            <a href="/">← Back home</a>
        </nav>
        {% endif %}
        {% if page.type == "post" %}
        <nav>
            <a href="/blog.html">← Back to all posts</a>
        </nav>
        {% endif %}
    </div>
    <div class="header-column-two">
        <h1> {{ page.title }} </h1>
    </div>
</header>

</html>