---
---

@media (prefers-color-scheme: light) {
  :root {
  --background: #FFEEDB;
  --text: #1A0D00;
  --accent: #F07C00;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A0D00;
    --text: #FFEEDB;
    --accent: #F07C00;
  }
}

body { 
  background-color: var(--background);
  color: var(--text);
  font-family: 'Work Sans', sans-serif;
  line-height: 1.8;
}

a { 
  text-decoration: none;
  border-bottom: 2px solid var(--accent);
  color: var(--text);
  transition: all 0.1s;
}

a:hover { 
  border-bottom: 4px solid var(--accent);
}

.content { 
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px;
}

li { 
  padding-bottom: 16px;
}

@media (max-width:400px) { 
  .content { 
    padding: 24px;
  }
}
