@use "./mixins";

.home-option-link {
  text-decoration: none;
  color: inherit;
  @include mixins.hover-rotate(-1deg, 1.03);
}

.home-option {
  background-color: var(--callout_block);
  padding: var(--space-s) var(--space-m);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
